Django
whitenoise
dj_database_url
gunicorn
cloudinary==1.11.0
django-cloudinary-storage
psycopg2-binary
Pillow
dj-static
django-appconf
django-image-cropping
easy-thumbnails
heroku
python-dateutil
requests
six
static3
virtualenv

