    <!--/footer-->
    <section class="footer py-3">
        <div class="container">
            <div class="row py-4 foot-resp">
                <div class="col-lg-8 bottom-nav-main">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'services' %}">Services</a>
                        </li>
                        <li>
                            <a href="{% url 'gallery' %}">Gallery</a>
                        </li>
                        <li>
                            <a href="{%  url 'blog' %}">Blog</a>
                        </li>
                        <li>
                            <a href="{% url 'contacts' %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4  footer_social-icons">
                    <a class="facebook" href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                    <a class="twitter" href="#">
                        <span class="fab fa-twitter"></span>
                    </a>
                    <a class="pinterest" href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>
                    <a class="linkedin" href="#">
                        <span class="fab fa-linkedin-in"></span>
                    </a>
                </div>
            </div>
            <div class="container-fluid row py-3">
                <div class="col-lg-4  footer_grid foot-resp ">
                    <h3>About Us</h3>
                    <p>PARADISE AFRICA EXPEDITIONS LTD was established to provide quality service to both Domestic and
                        international tourists.</p>
                    <p>Paradise Africa Expeditions ltd is one of the few organizations that can offer a full spectrum
                        of incoming ourism services with flexible and efficient solutions, as a one stop supplier.
                        The services we provide are of a high standard, and they save time, costs and resources.</p>
                </div>
                <div class="col-lg-4  footer_grid foot-resp">
                    <h3>Latest News</h3>
                    <ul class="footer_grid_list">
                        <li><i class="fas fa-angle-right" aria-hidden="true"></i>
                            <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
                        </li>
                        <li><i class="fas fa-angle-right" aria-hidden="true"></i>
                            <a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
                        </li>
                        <li><i class="fas fa-angle-right" aria-hidden="true"></i>
                            <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
                        </li>
                        <li><i class="fas fa-angle-right" aria-hidden="true"></i>
                            <a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
                        </li>
                        <li><i class="fas fa-angle-right" aria-hidden="true"></i>
                            <a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4  footer_grid foot-resp">
                    <h3>Contact Info</h3>
                    <ul class="address">
                        <li><i class="fas fa-map-marker-alt" aria-hidden="true"></i>2nd Floor, Suite 19, Uganda Hse, Kenyatta Avenue <span>Nairobi, Kenya.</span></li>
                        <li><i class="far fa-envelope-open" aria-hidden="true"></i><a href="mailto:info@paradiseafricaexpeditions
                        .com">info@paradiseafricaexpeditions.com</a></li>
                        <li><i class="fas fa-phone" aria-hidden="true"></i>
                            <a href="tel:+254728808324">0728 808 324</a>/
                            <a href="tel:+254722400064">0722 400 064</a>/
                            <a href="tel:+25420343108">020 343 108</a>
                        </li>
                        <li><i class="fas fa-globe" aria-hidden="true"></i><a href="www.paradiseafricaexpeditions
                        .com">www.paradiseafricaexpeditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--//footer-->
    <section class="copy-rights">
        <p class="copyright">© 2018 Paradise Africa Expeditions. All Rights Reserved | Design by <a href="https://weib
        .herokuapp.com/" target="_blank">weib solutions</a></p>
    </section>