{% extends 'base_layout_2.html' %}
{% load static from staticfiles %}
{% block content %}
    <!-- about -->
    <div>
        <p>PARADISE AFRICA EXPEDITIONS LTD was established to provide quality service to both Domestic and
            international tourists.</p>
        <p>Paradise Africa Expeditions ltd is one of the few organizations that can offer a full spectrum of incoming
            tourism services with flexible and efficient solutions, as a one stop supplier. The services we provide
            are of a high standard, and they save time, costs and resources.</p>
        <div class="row">
            <div class="col-sm-4">
                <h3>Mission</h3>
                <p>Our mission is the provision of quality services to our clients while conserving the rich flora
                    and fauna so abundantly found in our region.</p>
            </div>
            <div class="col-sm-4">
                <h3>Vision</h3>
                <p>To be the Africa’s premier travel and tours solution provider.</p>
            </div>
            <div class="col-sm-4">
                <h3>Core Values</h3>
                <ol>
                    <li>Quality Services</li>
                    <li>Customer Centricity</li>
                    <li>Integrity</li>
                    <li>Craft</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- services -->
    <div></div>
{% endblock %}