{% extends 'base_layout.html' %}
{% load staticfiles %}
{% block content %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{% static 'css/rental.css' %}">
    {% endblock stylesheets %}
    <div class="row header">
        <div class="agile-banner_nav">
            {% include 'includes/navbar.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 card">
            <div class="card-body">
                <h4 class="card-title card-link">Range Rover Sports 2018</h4>
                <h6 class="card-subtitle mb-2 text-muted">Kshs 8000/day</h6>
                <img class="card-img-top" src="{% static 'images/range2018.jpg' %}" alt="white range rover sports
            2018 model">
                <a href="#" class="btn btn-primary">More Info</a>
                <a href="#" class="btn btn-primary">Book Now</a>
             </div>
        </div>
        <div class="col-md-4 card">
            <div class="card-body">
                <h4 class="card-title card-link">Range Rover Sports 2018</h4>
                <h6 class="card-subtitle mb-2 text-muted">Kshs 8000/day</h6>
                <img class="card-img-top" src="{% static 'images/range2018.jpg' %}" alt="white range rover sports
            2018 model">
                <a href="#" class="btn btn-primary">More Info</a>
                <a href="#" class="btn btn-primary">Book Now</a>
             </div>
        </div>
        <div class="col-md-4 card">
            <div class="card-body">
                <h4 class="card-title card-link">Range Rover Sports 2018</h4>
                <h6 class="card-subtitle mb-2 text-muted">Kshs 8000/day</h6>
                <img class="card-img-top" src="{% static 'images/range2018.jpg' %}" alt="white range rover sports
            2018 model">
                <a href="#" class="btn btn-primary">More Info</a>
                <a href="#" class="btn btn-primary">Book Now</a>
             </div>
        </div>
    </div>

{% endblock %}
