{% extends 'base_layout.html' %}
{% load staticfiles %}
{% block content %}
	<!--Header-->
	<header>
        <div class="agile-banner_nav">
            {% include 'includes/navbar.html' %}
        </div>
    </header>
	<!--/banner-->
	<div class="banner-top">
        <div class="banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="carousel-caption">
                            <h1>We help business grow and innovate new Things </h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non dignissim lacus, vel
                                elementum quam. Donec facilisis aliquet sapien.</p>
                                <a href="{% url 'profile' %}">Read More <i
                                        class="fa fa-caret-right" aria-hidden="true"></i></a>
                                <a href="{% url 'contacts' %}">Contact Us <i class="fas fa-caret-right"
                                                                aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!--//banner-->
	<!--/about-->
	<div class="about py-5">
		<div class="container py-3 py-md-3">
            <div class="w3-head-all text-center mb-3">
                <h3>About us</h3>
            </div>
                <div class="about-grid ">
                    <h2 class="p-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                    <p>Quisque vsehicula, ligula in blandit facilisis, risus nibh rhoncus leo, id tristique dolor turpis venenatis dolor. Aliquam lacus justo, convallis at risus nec, rutrum auctor odio. In placerat erat</p>
                </div>
                <div class="about-grid1 text-center">
                    <img src="{% static 'images/ab2.jpg' %}" alt="about" class="img-fluid">
                </div>
                <!--/banner-bottom-->
{#            <div class="banner-bottom">#}
{#                <div class="container">#}
{#                    <!-- Three columns of text below the carousel -->#}
{#                    <div class="row bt-grids-main">#}
{#                        <div class="col-lg-4 col-md-4 bottom-sub-grid text-center">#}
{#                            <div class="bt-icon">#}
{#                                <span class="fab fa-adn"></span>#}
{#                            </div>#}
{#                            <h4 class="sub-tittle">Budget Car Rentals</h4>#}
{#                            <p>Rent yourself a car at the most pocket-friendly price in the region</p>#}
{#                        </div>#}
{#                        <!-- /.col-lg-4 -->#}
{#                        <div class="col-lg-4 col-md-4 bottom-sub-grid text-center">#}
{#                            <div class="bt-icon">#}
{#                                <span class="fas fa-tv"></span>#}
{#                            </div>#}
{#                            <h4 class="sub-tittle">Safaris</h4>#}
{#                            <p>Discover and get in touch with the wild life and wildlife of Africa through our#}
{#                                exhilarating safaris.</p>#}
{#                        </div>#}
{#                        <!-- /.col-lg-4 -->#}
{#                        <div class="col-lg-4 col-md-4 bottom-sub-grid text-center">#}
{#                            <div class="bt-icon">#}
{#                                <span class="far fa-file-word"></span>#}
{#                            </div>#}
{#                            <h4 class="sub-tittle">Hotels & Lodges</h4>#}
{#                            <p>Get to go for that exotic getaway you have been dreaming of and planning for.</p>#}
{#                        </div>#}
{#                        <!-- /.col-lg-4 -->#}
{#                    </div>#}
{#                    <!-- /.row -->#}
{#                </div>#}
{#            </div>#}
        </div>
	</div>
		<!--//about-->
     <!-- /Services -->
    <div class="agile-services-w3 py-5">
            <div class="container py-3 py-md-3">
               <div class="w3-head-all text-center mb-3">
                    <h3>Our Services</h3>
                </div>
                <div class="wthree-agile-sevre-grids row my-4">
                    <div class="col-lg-4  wthree-agile-grid services-align">
                        <a href=""></a>
                       <div class="service-icons">
                            <i class="fas fa-building"></i>
                        </div>
                        <h4 class="sub-tittle">Budget Car Rentals</h4>
                        <p>Rent yourself a car at the most pocket-friendly price in the region</p>
                    </div>
                    <div class="col-lg-4  wthree-agile-grid services-align">
                        <div class="service-icons">
                            <i class="fas fa-podcast"></i>
                        </div>
                            <h4 class="sub-tittle">Safaris</h4>
                            <p>Discover and get in touch with the wild life and wildlife of Africa through our
                                exhilarating safaris.</p>
                    </div>
                    <div class="col-lg-4  wthree-agile-grid">
                        <div class="service-icons">
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <h4 class="sub-tittle">Hotels & Lodges</h4>
                        <p>Get to go for that exotic getaway you have been dreaming of and planning for.</p>
                    </div>
                </div>
            </div>
       </div>
    <!-- //Services -->
		<!-- Team -->
    <div class="team py-5" id="team">
        <div class="w3-head-all text-center mb-3">
                <h3> Team</h3>
            </div>
        <div class="container py-3 py-md-3">
            <div class="flexslider-info">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="w3l-info1 row">
                                    <div class="col-lg-6 col-md-6 row">
                                        <div class="col-lg-5 col-md-5  team-grid-1">
                                            <img src="{% static 'images/team1.jpg' %}" alt="" class="img-fluid" />
                                        </div>
                                        <div class="col-lg-7 col-md-7  team-grid-2">
                                            <h4>Laura Elisa</h4>
                                            <h5> Founder & CEO</h5>
                                            <p>Lorem ipsum dolor sit amet augueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus.</p>
                                            <div class="w3ls-social-icons text-left">
                                                <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                                <a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a>
                                                <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6  row">
                                        <div class="col-lg-5  col-md-5 team-grid-1">
                                            <img src="{% static 'images/team2.jpg' %}" alt="" class="img-fluid" />
                                        </div>
                                        <div class="col-lg-7 col-md-7  team-grid-2">
                                            <h4>Johnson</h4>
                                            <h5>Co-founder</h5>
                                            <p>Lorem ipsum dolor sit amet augueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus.</p>
                                            <div class="w3ls-social-icons text-left">
                                                <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                                <a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a>
                                                <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="w3l-info1 row">
                                    <div class="col-lg-6 col-md-6  row">
                                        <div class="col-lg-5 col-md-5  team-grid-1">
                                            <img src="{% static 'images/team3.jpg' %}" alt="" class="img-fluid" />
                                        </div>
                                        <div class="col-lg-7 col-md-7 team-grid-2">
                                            <h4>Isabella</h4>
                                            <h5>Manager</h5>
                                            <p>Lorem ipsum dolor sit amet augueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus.</p>
                                            <div class="w3ls-social-icons text-left">
                                                <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                                <a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a>
                                                <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6  row">
                                        <div class="col-lg-5 col-md-5  team-grid-1">
                                            <img src="{% static 'images/team4.jpg' %}" alt="" class="img-fluid" />
                                        </div>
                                        <div class="col-lg-7 col-md-7  team-grid-2">
                                            <h4>Richard</h4>
                                            <h5>Supervisor</h5>
                                            <p>Lorem ipsum dolor sit amet augueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus.</p>
                                            <div class="w3ls-social-icons text-left">
                                                <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                                <a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a>
                                                <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="w3l-info1 row">
                                    <div class="col-lg-6 col-md-6  row">
                                        <div class="col-lg-5 col-md-5  team-grid-1">
                                            <img src="{% static 'images/team5.jpg' %}" alt="" class="img-fluid"  />
                                        </div>
                                        <div class="col-lg-7 col-md-7  team-grid-2">
                                            <h4>Carnivel</h4>
                                            <h5>Manager</h5>
                                            <p>Lorem ipsum dolor sit amet augueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus.</p>
                                            <div class="w3ls-social-icons text-left">
                                            <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                                <a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a>
                                                <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6 row">
                                        <div class="col-lg-5 col-md-5 team-grid-1">
                                            <img src="{% static 'images/team6.jpg' %}" alt="" class="img-fluid"  />
                                        </div>
                                        <div class="col-lg-7 col-md-7  team-grid-2">
                                            <h4>Carnivel</h4>
                                            <h5>Administrator</h5>
                                            <p>Lorem ipsum dolor sit amet augueit, consectetur adipiscing elit. Quisque utrisus eget libero finibus.</p>
                                            <div class="w3ls-social-icons text-left">
                                                <a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                                <a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a>
                                                <a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
<!-- //Team -->
<!---728x90--->
    <!--/subscribe-->
    <div class="subscribe p-5">
        <div class="container">
            <div class="w3-head-all text-center mb-3">
                <h3>Get latest deals for new businesss</h3>
            </div>
            <form class="input-fields my-3">
            <div class="form-group text-center">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control mx-auto" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
                <div class="text-center">
            <button type="submit" class="btn btn-primary mx-auto">Submit</button>
            </div>
         </form>
        </div>

    </div>
    <!--/subscribe-->
{% endblock %}